body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    color: white;
}
nav{
    top: 0;
    position: sticky;
    grid-area: navbar;
    padding: 1em;
    background-color: #86171b;
}
aside{
    display: grid;
    grid-template-rows: auto;
    top: 50.5px;
    height: calc(100vh - 50.5px);
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: #A41D21;
}
.item{
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.item a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-family: "Inter", sans-serif;
}
.item:hover{
    background-color: #86171b;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    padding: 1em;
}
@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        width: 300px;
        display: none;
    }
    .show{
        display: grid;
    }
}